 <div class="container col s12">
  <h2><%= t ".update" %></h2>

  <p><%= image_tag current_user.avatar, size: Settings.users.avatar_size %></p>

  <%= form_for resource, as: resource_name, url: edit_path, html: {method: :put} do |f| %>
    <%= devise_error_messages! %>

    <span class="avatar">
      <%= f.file_field :avatar %>
    </span><hr>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix"><%= t ".perm_identity" %></i>
        <%= f.text_field :name, class: "validate", id: "name", autofocus: true %>
        <%= f.label t ".username", for: "name" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix"><%= t ".email" %></i>
        <%= f.email_field :email, class: "validate", id: "email" %>
        <%= f.label t ".email", for: "email" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix"><%= t ".vpn_key" %></i>
        <%= f.password_field :password, class: "validate", id: "password" %>
        <%= f.label t ".pass", for: "password" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix"><%= t ".forward" %></i>
        <%= f.password_field :password_confirmation, class: "validate",
          id: "password_confirmation", autocomplete: "off" %>
        <%= f.label t ".pass_confirm", for: "password_confirmation" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix"><%= t ".vpn_key" %></i>
        <%= f.password_field :current_password, class: "validate", id: "current_password", autocomplete: "off" %>
        <%= f.label t ".current_password", for: "current_password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t(".update"), class: "btn waves-effect waves-light purple" %>
    </div>
  <% end %>

  <h5><%= t ".delete_account" %></h5>

  <p><%= t ".unhappy" %> <%= button_to t(".delete_account"), registration_path(resource_name), data: {confirm: t(".you_sure")}, method: :delete, class: "btn waves-effect waves-light red" %></p>
</div>
