<div class="container">
  <div class="row col s12">
    <div class="card">
      <div class="card-content">
        <div class="row col s4"><%= image_tag @user.avatar, size: Settings.users.avatar_size %></div>
        <h5>
          <i class="material-icons"><%= t ".perm_identity" %></i>
          <%= t ".name" %><%= @user.name %>
        </h5>
        <h5>
          <i class="material-icons"><%= t ".email_icon" %></i>
          <%= t ".email" %><%= @user.email %>
        </h5>
        <p><%= pluralize @user.posts.size, t(".post") %></p>
        <p><%= pluralize @user.comments.size, t(".comment") %></p>
        <section class="stats">
          <%= render "shared/stats" %>
        </section>
      </div>
      <div class="card-action">
      </div>
    </div>
    <div class="card">
      <h4 class="center"><%= @title %></h4>
      <table class="highlight">
        <thead>
          <tr>
            <th><%= t ".avatar" %></th>
            <th><%= t ".username" %></th>
          </tr>
        </thead>
        <tbody>
          <% if @users.any? %>
            <ul class="users follow">
              <%= render @users %>
            </ul>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
