<%= form_for post do |f| %>
  <%= render "shared/error", object: f.object %>
  <div class="card">
    <div class="card-content">
      <div class="input-field">
        <i class="material-icons prefix"><%= t ".mode_edit" %></i>
        <%= f.text_field :title, class: "validate", id: "title" %>
        <%= f.label t ".title", for: "title" %>
      </div>
      <div class="input-field">
        <i class="material-icons prefix"><%= t ".code" %></i>
        <%= f.text_area :content, class: "materialize-textarea validate", id: "content" %>
        <%= f.label t ".compose", for: "content" %>
      </div>
    </div>
    <div class="card-action">
      <%= f.submit t(".post"), class: "btn light-blue" %>
    </div>
  </div>
<% end %>
