<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <h4 class="title"><%= @post.title %></h4>
          <div class="col s12">
            <%= image_tag @post.picture, class: "responsive-img" if @post.picture? %>
          </div>
          <h4 class="title"><%= @post.title %></h4>
          <p>
            <i class="material-icons prefix"><%= t ".loyalty" %></i>
            <%= t ".tags" %><%= @post.all_tags %>
          </p>
          <span class="content"><%= @post.content %></span><hr>
          <p>
            <%= t ".author" %>
            <%= image_tag @post.user.avatar, size: Settings.posts.post_avatar %>
            <span class="user"><%= link_to @post.user.name, @post.user %></span>
            <time class="timeago" datetime="<%= @posttime %>"></time>
            <% if current_user == @post.user || current_user.is_admin? %>
              <div class="fixed-action-btn toolbar">
                <a class="btn-floating btn-large red">
                  <i class="large material-icons"><%= t ".mode_edit" %></i>
                </a>
                <ul>
                  <li class="waves-effect waves-light">
                    <%= link_to @post, method: :delete, data: {confirm: t(".you_sure")} do %>
                      <i class="material-icons"><%= t ".delete" %></i>
                      <%= t ".delete" %>
                    <% end %>
                  </li>
                  <li class="waves-effect waves-light purple">
                    <%= link_to edit_post_url do %>
                      <i class="material-icons"><%= t ".edit" %></i>
                      <%= t ".edit" %>
                    <% end %>
                  </li>
                </ul>
              </div>
            <% end %>
          </p>
        </div>
        <div class="card-comment">
          <span class="list-comment">
            <% @post.comments.each do |comment| %>
              <%= render "comments/comment", comment: comment %>
            <% end %>
          </span>
          <% if user_signed_in? %>
            <span>
              <%= render "shared/comment_form", post: @post %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
