<nav>
  <div class="nav-wrapper purple darken-4">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <%= form_tag search_path, method: :get, class: "navbar-form navbar-left form-inline" do %>
        <li><i class="material-icons"><%= t ".search" %></i></li>
        <li>
          <%= text_field_tag :search, params[:search], placeholder: t(".search_placeholder"), class: "search-form form-control input-sm" %>
        </li>
        <li><%= submit_tag t(".search"), class: "btn purple" %></li>
      <% end %>
    </ul>
    <%= link_to t(".mlog"), root_path, class: "brand-logo center" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".social"), home_path %></li>
      <% if user_signed_in?  %>
        <ul id="dropdown1" class="dropdown-content">
          <% if current_user.is_admin? %>
            <li><%= link_to t(".admin"), admin_root_path %></li>
          <% end %>
          <li><%= link_to t(".profile"), current_user %></li>
          <li><%= link_to t(".settings"), edit_path %></li>
          <li class="divider"></li>
          <li><%= link_to t(".log_out"), destroy_user_session_path, method: :delete %></li>
        </ul>
        <li>
          <a class="dropdown-button" href="#" data-activates="dropdown1">
          <%= t ".account" %>
          <i class="material-icons right">arrow_drop_down</i></a>
        </li>
      <% else %>
        <li><%= link_to t(".sign_up"), signup_path %></li>
        <li><%= link_to t(".log_in"), login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
